<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar por nombre"
        [(ngModel)]="nombre"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="buscarNombre()"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Lista de Mascotas</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let animal of animales; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActivarAnimal(animal, i)"
      >
        {{ animal.nombre }} >> {{animal.raza}}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="eliminarTodosAnimales()">
      Eliminar Todo
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="animalActual">
      <h4>Mascota</h4>
      <div>
        <label><strong>Nombre:</strong></label> {{ animalActual.nombre }}
      </div>
      <div>
        <label><strong>Raza:</strong></label>
        {{ animalActual.raza }}
      </div>
      <div>
        <label><strong>Fecha de nacimiento:</strong></label>
        {{ animalActual.dob }}
      </div>
      <div>
        <label><strong>Genero:</strong></label>
        {{ animalActual.genero }}
      </div>

      <a class="link-dark" routerLink="/animales/{{ animalActual.id }}">
        Editar
      </a>
    </div>

    <div *ngIf="!animalActual">
      <br />
      <p>Por favor seleccione una Mascota...</p>
    </div>
  </div>
</div>
